image: python:3.8.1

stages:
  - test
  - deploy

services:
  - postgres:latest

variables:
  PROJECT_NAME: jobportal_backend
  POSTGRES_DB: ci
  POSTGRES_USER: runner
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: trust
  GIT_DEPTH: 0
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"  

cache:
  paths:
  - .cache/pip

test:
  stage: test
  script:
      - python -V
      - export DATABASE_URL=postgres://postgres:@postgres:5432/python-test-app
      - pip install -r requirements/base.txt
      - cp config/settings/test.sample.py config/settings/env.py
      - mkdir -p /builds/root/media
      - coverage run --source '.' --omit 'apps/*/migrations/*' manage.py test
      - coverage report
  # This regex will pull out the line coverage from the coverage report output
  # so it will be displayed in the job page on Gitlab.
  coverage: '/^TOTAL.*\s+(\d+\%)$/'

deploy:
  stage: deploy
  before_script:
  - apt-get update -qq
  - apt-get install -qq git
  # Setup SSH deploy keys
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - echo "ssh-add"
  - echo "$SSH_PRIVATE_KEY" > temp-key
  - chmod 600 temp-key
  - ssh-add temp-key
  - rm temp-key

  - echo "config"
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

  - echo "list keys (inside script)"
  - ssh-add -l

  script:
    - ssh umesh@139.59.46.113 "cd blogic && git checkout master && git pull origin master && exit"
  only:
    - master
